{% extends 'base.html' %}

{% block content %}
<div id="content" class="content" style="padding: 10px;">
{% include 'host_list.html' %}
    <div class="vertical-box" style="width:73%;background:#cacfd3;border-radius: 10px">
        <div class="col-lg-6" style="padding:  10px 10px 0 10px">
            <div class="panel panel-inverse" data-sortable-id="flot-chart-2">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">CPU 使用率</h4>
                </div>
                <div class="panel-body">
                    <div id="cpu_pct_chart" class="height-sm"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="padding:  10px 10px 0 10px">
            <div class="panel panel-inverse" data-sortable-id="flot-chart-2">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Flot Interactive Chart</h4>
                </div>
                <div class="panel-body">
                    <div id="interactive-chart" class="height-sm"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content-->
{% endblock %}


{% block js %}
    <script src="/static/assets/plugins/flot/jquery.flot.min.js"></script>
	<script src="/static/assets/plugins/flot/jquery.flot.time.min.js"></script>
	<script src="/static/assets/plugins/flot/jquery.flot.resize.min.js"></script>
	<script src="/static/assets/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="/static/assets/plugins/flot/jquery.flot.stack.min.js"></script>
	<script src="/static/assets/plugins/flot/jquery.flot.crosshair.min.js"></script>
	<script src="/static/assets/plugins/flot/jquery.flot.categories.js"></script>
    <!--suppress JSJQueryEfficiency, JSValidateTypes -->
    <script>
        $(document).ready(function() {
            App.init();
        });

        var blue="#348fe2",blueLight="#5da5e8",blueDark="#1993E4",aqua="#49b6d6",aquaLight="#6dc5de",aquaDark="#3a92ab",green="#00acac",greenLight="#33bdbd",greenDark="#008a8a",orange="#f59c1a",orangeLight="#f7b048",orangeDark="#c47d15",dark="#2d353c",grey="#b6c2c9",purple="#727cb6",purpleLight="#8e96c5",purpleDark="#5b6392",red="#ff5b57";

        function handleInteractiveChart(date) {
            "use strict";
            function e(e,t,n){
                $('<div id="tooltip" class="flot-tooltip">'+n+"</div>").css({top:t-45,left:e-55}).appendTo("body").fadeIn(200)}
                if($("#cpu_pct_chart").length!==0){
                        var t=date;
                        var n=[];
                        $.plot(
                            $("#cpu_pct_chart"),
                            [{data:t,label:"cpu_total_pct",color:purple,lines:{show:true,fill:false,lineWidth:1},points:{show:false,radius:1,fillColor:"#fff"},shadowSize:0},{data:n,label:"Visitors",color:green,lines:{show:true,fill:false,lineWidth:1,fillColor:""},points:{show:false,radius:3,fillColor:"#fff"},shadowSize:0}],
                            {xaxis:{mode: "time",tickColor:"#ddd"},yaxis:{tickColor:"#ddd"},grid:{hoverable:true,clickable:true,tickColor:"#ccc",borderWidth:1,borderColor:"#ddd"},legend:{labelBoxBorderColor:"#ddd",margin:0,noColumns:1,show:true}});
                        var r=null;
                        $("#cpu_pct_chart").bind("plothover",function(t,n,i){$("#x").text(n.x.toFixed(2));$("#y").text(n.y.toFixed(2));if(i){if(r!==i.dataIndex){r=i.dataIndex;$("#tooltip").remove();var s=i.datapoint[1].toFixed(2);var o=i.series.label+" "+s;e(i.pageX,i.pageY,o)}}else{$("#tooltip").remove();r=null}t.preventDefault()})}
        }

        function getCpuUsage() {
            var selected_host=VerifyHostSelection();
            if (selected_host.length !== 0){
                $.getJSON('{% url 'get_cpu_usage' %}', {selected_host:selected_host}, function(callback){
                    console.log(callback);
                    for (var i=0;i<callback.length;i++){
                        callback[i][0]=Date.parse(new Date(callback[i][0]));

                    }
                    var timestamp = Date.parse( new Date());
                    console.log(timestamp);
                    handleInteractiveChart(callback);
                });
            }
            setTimeout('getCpuUsage()', 10000);
        }

        function VerifyHostSelection() {
            var selected_host=[];
            var all_host=$("label[input_label='host']").children();
            $.each(all_host,function (index,ele) {
                if(ele.checked){
                    selected_host.push(ele.id)
                }
            });
            return(selected_host)
        }

        getCpuUsage();
        {% include 'host_list_js.html' %}
    </script>

{% endblock %}