{% extends 'base.html' %}
{% block content %}
<div id="content" class="content">
    {% include "host_list.html" %}
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-8">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h4 class="panel-title">批量执行命令</h4>
                </div>
                <div class="panel-body panel-form">
                    <form action="/" method="POST">
                        <textarea name="cmd" class="textarea form-control" placeholder="请输入命令行 ..." rows="8"></textarea>
                        <button type="button" class="btn btn-success pull-right" style="margin: 8px" onclick="SubmitTask('multi_cmd')">执行命令</button>
                        <div id="error_msgs" style="margin-top: 10px;white-space:pre-wrap;"></div>
                        <div id="result_msgs"></div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            App.init();
        });

        function SubmitTask(task_type) {
            var error_list=[];
            var data_list={};
            if(task_type==='multi_cmd'){
                var selected_host=VerifyHostSelection();
                var cmd_text=$.trim($("textarea[name='cmd']").val());
                data_list['selected_host']=selected_host;
                data_list['cmd_text']=cmd_text;
                data_list['task_type']=task_type;
                if (selected_host.length===0){
                    error_list.push(["执行失败:  未选择任何主机!!!"]);
                }
                if (cmd_text.length===0){
                    error_list.push(["执行失败:  未输入任何命令!!!"]);
                }
            }

            if(error_list.length>0) {
                $("#error_msgs").html('');
                $.each(error_list,function (index,item) {
                    var err_msgs="<p style='color:red;'>"+index+" -- "+item+"</p>";
                    $("#error_msgs").append(err_msgs);
                })
            }
            else{
                $("#error_msgs").html('');
                console.log(data_list);
                $.post("{% url 'submit_cmd' %}", data_list , function(callback){
                    var task_id_obj = JSON.parse(callback);
                    GetTaskResult(task_id_obj.task_id);
                })
            }
        }

        function GetTaskResult(task_id) {
            $.getJSON('{% url 'get_cmd_result' %}', {task_id:task_id}, function(callback){
                PrintOnPage(callback);
                console.log(callback);
            })
        }

        function PrintOnPage(callback) {
            $("#result_msgs").html('');
            $.each(callback,function (index,item) {
                var result_msgs="<p style='color:red;'>"+index+' - '+item.id+' - '+item.date+' - '+item.bind_host__host__hostname+'('+item.bind_host__host__ip_address+')'+'--->'+item.result+item.event_log+"</p>";
                $("#result_msgs").append(result_msgs);
            })
        }

        function VerifyHostSelection() {
            var selected_host=[];
            var all_host=$("label[input_label='host']").children();
            $.each(all_host,function (index,ele) {
                if(ele.checked){
                    selected_host.push(ele.id)
                }
            });
            return(selected_host)
        }

        {% include 'host_list_js.html' %}
	</script>
{% endblock %}